# feste.config - Configurazione dei giorni festivi fissi
# Formato: GG/MM (giorno/mese), seguito opzionalmente da un commento con #
# Le festività mobili come Pasquetta vengono calcolate automaticamente dal calendario.

01/01 # Capodanno
06/01 # Epifania
25/04 # Festa della Liberazione
01/05 # Festa dei Lavoratori
02/06 # Festa della Repubblica
15/08 # Ferragosto / Assunzione
04/10 # San Francesco (Patrono d'Italia)
01/11 # Ognissanti
08/12 # Immacolata Concezione
25/12 # Natale
26/12 # Santo Stefano
